.header_container {
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100px;
    position: fixed;

    .menu_container {
        width: 11%;
        height: 100%;
        padding: 20px;

        .burger {

            .burger_line {
                margin: 10px auto;
                height: 5px;
                width: 40px;
                background-color: #fff;
                border-radius: 15%;
            }
        }
    }

    .logo_container {
        height: 120%;
        width: 7%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            width: 50%;
            background-color: transparent;
        }
    }
    
    .donate_container {

        width: 85%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;

        .donate {
            margin-right: 8%;
            font-size: 22px;
            font-family: 'Nexa Bold';
        }
    }
}